In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
# Create datafram from tournament results
df = pd.read_csv('tournaments.csv')
df.head()

   P1 [NS]  P2 [EW]  Score P1  Score P2  Seed
0        1        1        97        99     1
1        1        1        90       102     2
2        1        1        89        96     3
3        1        1        86        88     4
4        1        1        99       106     5

In [18]:
# Create scores by team
team_scores_NS = {}
team_scores_EW = {}
for i in range(1, 11):
    team_scores_NS[i] = df[df['P1 [NS]'] == i]['Score P1']
    team_scores_EW[i] = df[df['P2 [EW]'] == i]['Score P2']

In [41]:
# Average scores by group
for i in range(1, 11):
    print(f'Group {i}: NS: {team_scores_NS[i].mean()}, EW: {team_scores_EW[i].mean()}, overall: {(team_scores_NS[i].mean() + team_scores_EW[i].mean())/2}')

Group 1: NS: 95.0975, EW: 95.4161, overall: 95.2568
Group 2: NS: 82.1702, EW: 82.8536, overall: 82.5119
Group 3: NS: 89.449, EW: 89.7407, overall: 89.59485000000001
Group 4: NS: 87.4865, EW: 87.317, overall: 87.40174999999999
Group 5: NS: 95.6568, EW: 96.196, overall: 95.9264
Group 6: NS: 92.266, EW: 92.2497, overall: 92.25785
Group 7: NS: 88.317, EW: 88.2798, overall: 88.29839999999999
Group 8: NS: 87.7914, EW: 87.9789, overall: 87.88515
Group 9: NS: 95.3494, EW: 95.2266, overall: 95.28800000000001
Group 10: NS: 86.8076, EW: 87.4008, overall: 87.10419999999999

In [42]:
# Calculate win loss ratio
NS_win_rate = (df[df['P1 [NS]'] == 10]['Score P1'] > df[df['P1 [NS]'] == 10]['Score P2']).sum() / len(df[df['P1 [NS]'] == 10])
EW_win_rate = (df[df['P2 [EW]'] == 10]['Score P2'] > df[df['P2 [EW]'] == 10]['Score P1']).sum() / len(df[df['P2 [EW]'] == 10])
print(f'Win rate: NS: {NS_win_rate}, EW: {EW_win_rate}')

Win rate: NS: 0.3661, EW: 0.3859

In [51]:
# Print self average score by group
for i in range(1, 11):
    group_self = df.loc[(df['P1 [NS]'] == i) & (df['P2 [EW]'] == i)]
    group_self_avg_score = (group_self['Score P1'].mean() + group_self['Score P2'].mean())/2
    print(f'Group {i} self average score: {group_self_avg_score}')

Group 1 self average score: 96.8425
Group 2 self average score: 72.049
Group 3 self average score: 89.68299999999999
Group 4 self average score: 84.827
Group 5 self average score: 96.026
Group 6 self average score: 93.571
Group 7 self average score: 87.376
Group 8 self average score: 82.287
Group 9 self average score: 96.52350000000001
Group 10 self average score: 91.358